.swiper-container {
    width: 100%;
    height: 400px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  .newslide{
      margin-bottom: 0 0 26px 0;
  }

  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after ,.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
      color: #fff;
  }
  .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0, 0.3);
}
  .newslide-1{
      width: 100%;
      height: auto;
      background: url(../img/slide/newslide-img-1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
  }
  .newslide-2{
    width: 100%;
    height: auto;
    background: url(../img/slide/newslide-img-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.newslide-textbox{
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate(0, -50%);
}

.newslide-1-textbox p{
    font-size: 44px;
    line-height: 130%;
}
.newslide-1-textbox p>span{
    font-size: 44px;
    font-weight: bold;
    line-height: 130%;
}
.newslide-1-textbox p:last-child{
    padding-top: 20px;
    font-size: 22px;
    font-weight: 400;
    color: #888;
}

.newslide-2-textbox p:first-child{
    font-size: 44px;
    padding-bottom: 20px;
    font-weight: bold;
    line-height: 130%;
}
.newslide-2-textbox p:last-child{
    font-size: 22px;
    line-height: 130%;
    color: #888;
}
.newslide-2-textbox>p>span{
    font-size: 50px;
}
