@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body{
  font-family: 'Nanum Gothic', sans-serif;
}
.container{
  padding: 0;
}
.padding-0{
  padding: 0;
}
.row{
  margin: 0;
}
.space-between{
  justify-content:space-between;
}
.margin-bottom-30{
  margin-bottom: 30px;
}
p{
  margin:0;
}
/* font-family: 'Nanum Gothic', sans-serif; */
/* font-family: 'Nanum Myeongjo', serif; */
.header{
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #ccc;

  }
  .logo_img img{
    width:200px;
  }
  
.header_area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;

}
    .header_area .navbar {
      background: transparent;
      padding: 0px;
      border: 0px;
      border-radius: 0px;
      height: 100px;
    }
      .header_area .navbar .navbar-brand img + img {
        display: none; }
      /* .header_area .navbar .nav .nav-item {
          margin-right: 45px;
       } */
        .header_area .navbar .nav .nav-item .nav-link {
          font-size: 18px;
          text-transform: uppercase;
          color: #181818;
          display: inline-block;
          padding: 0 35px;
          font-family: 'Nanum Myeongjo', serif;
          font-weight: 700;
        }
          .header_area .navbar .nav .nav-item .nav-link:after {
            display: none; }
        .header_area .navbar .nav .nav-item.submenu {
          position: relative; }
          .header_area .navbar .nav .nav-item.submenu ul {
            border: none;
            padding: 0px;
            border-radius: 0px;
            box-shadow: none;
            margin: 0px;
            background: #fff; }
            @media (min-width: 992px) {
              .header_area .navbar .nav .nav-item.submenu ul {
                position: absolute;
                top: 120%;
                left: 0px;
                min-width: 200px;
                text-align: left;
                opacity: 0;
                transition: all 300ms ease-in;
                visibility: hidden;
                display: block;
                border: none;
                padding: 0px;
                border-radius: 0px;
                box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.3);
                padding-top: 22px;
                margin-top: 22px;
              } }
            .header_area .navbar .nav .nav-item.submenu ul:before {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 10px 10px 0 10px;
              border-color: #eeeeee transparent transparent transparent;
              position: absolute;
              right: 24px;
              top: 45px;
              z-index: 3;
              opacity: 0;
              transition: all 400ms linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item {
              display: block;
              float: none;
              margin-right: 0px;
              border-bottom: 1px solid #ededed;
              margin-left: 0px;
              transition: all 0.4s linear; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
                line-height: 45px;
                color: #222222;
                padding: 0px 30px;
                transition: all 150ms linear;
                display: block;
                margin-right: 0px; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
                border-bottom: none; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
                background: #b5a08a;
                color: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu:hover ul {
              visibility: visible;
              opacity: 1;
              top: 100%; } }
          .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
            margin-top: 0px; }
        .header_area .navbar .nav .nav-item:last-child {
          margin-right: 0px; }
      .header_area .navbar .search {
        font-size: 12px;
        line-height: 60px;
        display: inline-block;
        color: #222222;
        margin-left: 80px; }
        .header_area .navbar .search i {
          font-weight: 600; }
    .header_area.navbar_fixed .main_menu {
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      background: #fff;
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      -webkit-transition: transform 500ms ease, background 500ms ease;
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
      .header_area.navbar_fixed .main_menu .navbar .navbar-brand img {
        display: none; }
        .header_area.navbar_fixed .main_menu .navbar .navbar-brand img + img {
          display: inline-block; }
      .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 70px;
        color: #222222; }
  
  
  
  .header_socila li {
    display: inline-block;
    margin-right: 20px; }
    .header_socila li a {
      color: #fff;
      line-height: 30px;
      display: inline-block; }
    .header_socila li:last-child {
      margin-right: 0px; }
    .header_socila li:hover a {
      color: #faba00; }


/* ====header==== */
.pc-img{
  display: block;
}
.mobile-img{
  display: none;
}
.furniture-buy{
  padding: 100px 0 20px 0;
}
.furniture-buy-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title{
  font-size: 15px;
  color: #757575;
  padding: 20px 0;
}

.furnitur-article{
  margin-left: 50px;
  font-size: 16px;
}
.first-td{
  width: 40%;
}
.furnitur-article td{
  padding: 7px 0;
  color: #757575;
  font-size: 14px;
}

.price-area>td{
  color: #181818;
  font-weight: 600;
  font-size: 16px;
}

.item-title{
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0 0 5px;
  border-bottom: 1px solid #e1e1e1;
}
.select{
  margin-left: 50px;
  font-size: 16px;
}
#select{
  width:81%;
  padding: 3px 0;
}
#select-2{
  width: 81%;
  padding: 3px 0;
}
.select>div{
  padding: 7px 0;
  display: flex;
}
.select>div>p{
  margin-right: 20px;
}

#count{
  width: 30px;
}
#total_count_view{
  font-weight: bold;
  border: none;
  width: 72px;
}
.count-price{
  margin-left: 50px;
  font-size: 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 7px 0;
}
.buy-button{
  margin: 7px 0 0 0;
  text-align: right;
}
.buy-button>button{
  border: 1px solid  #b5a08a;
  padding: 7px;
  background: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.buy-button>button:hover{
  background: #b5a08a;
  color: #fff;
}

/* top */

.detail-tab{
  width: 100%;
  height: auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin-bottom: 20px;
}
.detail-slide{
  font-size: 18px;
}
.detail-first-title{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}
/* detail */


#floatMenu {
  width: 100%;
	max-width: 350px;
  height: 100%;
  margin-left: 50px;
}
#floatMenu.activated{
  position: fixed;
  top: 0;
  left: 60.5%;
}
.option-top{
  padding: 20px;
  margin-bottom: 80px;
}

.option-bottom{
  display: flex;
}
.option-bottom p{
  font-size: 16px;
  font-weight: bold;
}
.option-bottom input{
  font-size: 16px;
  font-weight: bold;
  width: 80px;
  border: none;
}
.startprice-p{
  padding-right: 45%;
}
.buy-button-bottom button{
  width: 100%;
  border: none;
  cursor: pointer;
  background: #b5a08a;
  padding: 20px 50px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.4s;
  margin-top: 20px;
}
.buy-button-bottom button:hover{
  background: #947b62;
}
#myModal2{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  width: 50%;
  height: auto;
  background: #fff;
  display: none;
}
.modal-content2>p:first-child{
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.modal2-line{
  width: 100%;
  height: 1px;
  background: #ccc;
  margin-bottom: 20px;
}
.modal-content2>p:nth-child(3){
  font-size: 18px;
  padding-bottom: 20px;
  text-align: center;
}
.close-btn2{
  background: #ccc;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.4s;
  padding: 20px 0;
}
.close-btn2:hover{
  background: #888;
  color: #fff;
}

/* detail end */

/* ===furnitur-buy=== */



.footer_area {
    background: #222222; }
  .footer-text-box{
    color: #ccc;
    font-size: 14px;
    line-height:150%;
  }
  .footer-text-box>p{
    letter-spacing: 1px;
    font-family: 'Nanum Gothic', sans-serif;
  }
  .footer-padding{
    padding: 30px 0;
  }

  .gallery-thumbs img{
    width: 100%;
    height: 140px;
    padding-top: 10px;
  }

  /* ===footer=== */




  .modal{
    display: none; /*Hidden by defailt*/
    position: fixed; /*Stay in place*/
    z-index: 99;/*Sit on top*/
    left: 0;
    top: 0;
    width: 100%; /*Full width*/
    height: 100%; /*Full height*/
    overflow: auto; /*Enable scroll if needed*/
    background-color: rgb(0, 0, 0); /*Fallback color*/
    background-color: rgba(0, 0, 0, 0.4); /*Black w/ opacity*/
}
/*Modal Content /Box */
.modal-content{
    background-color: #fefefe;
    margin: 15% auto; /*15% from the top and centered*/
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /*Could be more or less, depending on screen size*/
}
.close-btn{
  cursor: pointer;
  background: #ddd;
  text-align: center;
  padding: 10px 0;
  transition: 0.3s;
}
.close-btn:hover{
  background: #555;
  color: #fff;
}
  /* modal */

.detail{
  display: flex;
  flex-direction: column;
}
.detail-bottom{
  max-width: 720px;
}
.swiper-container{
  max-width: 720px;
}
.floatMenu2{
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 99999999999;
  animation: arrow 2s 1s infinite;
  display: none;
}
.floatMenu2 i{
  font-size: 25px;
  background: #947b62;
  color: #fff;
  padding: 5px;
}
@keyframes arrow{
  0%{
    top: 88%;
  }
  50%{
    top: 92%
  }
  100%{
    top: 88%;
  }
}
@media(max-width:1200px){
  .furniture-img img{
    width: 100%;
  }
  #floatMenu{
    display: none;
  }
  .floatMenu2.activated2{
    display: block;
  }
  .swiper-container{
    width: 100%;
  }
  .swiper-container img{
    width: 100%;
  }
  .detail-row{
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
  .detail-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: inherit;
  }
  .detail{
    width: 100%;
  }

}
@media(max-width:992px){
  .header_area .navbar .nav .nav-item{
    background: #fff;
    border-bottom: 1px solid #ccc;
  }
  .pc-img{
    display: none;
  }
  .mobile-img{
    display: block;
  }
  .furniture-img img{
    width: 100%;
    margin: 0 auto;
  }
  .furniture-buy{
    padding: 20px 0;
  }

  .furnitur-article , .select ,.count-price{
    margin-left: 0;
  }
  .furnitur-article{
    padding-top: 20px;
  }
  .footer-text-box{
    padding-top: 20px;
  }


}
@media(max-width:768px){

  .gallery-thumbs img{
    height: auto;
  }
}
@media(max-width:600px){
  #select{
    width: auto;
  }
  #select-2{
    width: auto;
  }
  .container{
    padding: 0 20px;
  }
}