/* .banner-img{
    position: relative;
    width: 100%;
    height: 399px;
    background: url(../img/banner/sale-banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  } */
  /* @media(max-width:540px){
      height: 200px;
  } */

  /* .banner-img img{
      width: 100%;
  } */